 <div class="contents">
  <h2>アカウント編集</h2>

  <h3><%= current_user.name %></h3>
  <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :新たなパスワード（変更ない場合は空欄でOK） %> <br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <%= @minimum_password_length %> 文字以上
          <% end %>
        </div>

        <div class="field">
          <%= f.label :新たなパスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :現在のパスワード（必須）%><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: "button" %>
        </div>
      <% end %>
  </div>
  <%= link_to "←戻る", :back, class: "button" %>
    <div>
      <%= button_to "アカウントを消去", registration_path(resource_name), data: { confirm: "本当に消去しますか?", turbo_confirm: "本当に消去しますか?" }, method: :delete, class: "button" %>
    </div>
</div>
