<div class="contents">
<h2>宿泊予約</h2>

<%= form_with model: @reservation do |f| %>
  <table>
    <tr>
      <th>施設名</th>
      <td><%= @room.name %></td>
    </tr>
    <tr>
      <th><%= f.label :check_in ,"チェックイン日" %></th>
      <td><%= f.date_field :check_in %></td>
    </tr>
    <tr>
      <th><%= f.label :check_out ,"チェックアウト日" %></th>
      <td><%= f.date_field :check_out %></td>
    </tr>
    <tr>
      <th><%= f.label :num_of_persons ,"宿泊人数" %></th>
      <td><%= f.text_field :num_of_persons %></td>
    </tr>

    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :room_id, value: @room.id %>
  </table>

  <div>
    <ul>
      <li><%= f.submit "予約する", class: "button"%></li>
      <li><%= link_to "←戻る", :back, class: "button" %></li>
    </ul>
  </div>
<% end %>
</div>
