 <div class="contents"> 
  <h2>予約確認</h2>

    <table>
      <tr>
        <th>施設名</th>
        <td><%= @room.name %></td>
      </tr>
      <tr>
        <th>チェックイン日</th>
        <td><%= @reservation.check_in %></td>
      </tr>
      <tr>
        <th>チェックアウト日</th>
        <td><%= @reservation.check_out %></td>
      </tr>
      <tr>
        <th>宿泊日数</th>
        <td><%= @num_of_days %>日</td>
      </tr>
      <tr>
        <th>宿泊人数</th>
        <td><%= @reservation.num_of_persons %>人</td>
      </tr>
      <tr>
        <th>支払い金額</th>
        <td><%= @reservation.num_of_persons * @num_of_days * @room.fee %>円</td>
      </tr>
    </table>

    <div>
      <ul>
        <li><%= link_to "予約完了する", reservations_path %></li>
        <li><%= link_to "予約をキャンセルする", reservation_path(@reservation.id), method: :delete %></li>
      </ul>
    </div>
</div>
