<h3>施設検索</h3>

<%= form_with url: rooms_path, method: :get, local: true do |f| %>
  <%= f.select :area, [["東京","東京"], ["大阪","大阪"], ["京都", "京都"], ["札幌", "札幌"]], include_blank: "エリアを選択" %>
  <%= f.submit '検索', name: nil %>
<% end %>
<table>
<tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.name %></td>
            <td><%= room.fee %></td>
            <td><%= room.address %></td>
            <td><%= room.introduction %></td>
            <td><%= link_to "詳細", room_path(room) %></td>
            <td><%= link_to "編集", edit_room_path(room) %></td>
            <td><%= link_to "削除", room_path(room), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
          </tr>
        <% end %>
      </tbody>  
</table>
