<h3>施設検索</h3>


<p>エリア：<%= params[:area] %></p>
<p>フリーワード：<%= params[:freeword] %></p>
<p>合計施設数： <%= @rooms.count %></p>
<table>
<tbody>
        <% @rooms.each do |room| %>
          <tr>
          <td>
          <%= link_to room_path(room) do %>
            <% if room.room_image.attached? %>
              <%= image_tag room.room_image.variant(resize: '50x50'), class: 'room_image', alt: '施設画像'%>
            <% else %>
              <%= image_tag 'default_room.png', class: 'room_image', alt: '施設画像' %>
            <% end %>
          <% end %>
          </td>
            <td><%= link_to room.name, room_path(room) %></td>
            <td><%= room.fee %>円〜</td>
            <td><%= room.address %></td>
            <td><%= room.introduction %></td>
            <% if current_user.id == room.user_id %>
              <td><%= link_to "編集", edit_room_path(room) %></td>
              <td><%= link_to "削除", room_path(room), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>  
</table>
