<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="#">ほりいとらべる</a>
      <div class="link">
      <% if user_signed_in? %>
        <%= link_to current_user.name, users_me_path %>
        <ul>
          <li><%= link_to "アカウント", users_me_path %></li>
          <li><%= link_to "アカウント編集", edit_user_registration_path %></li>
          <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
          <li><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></li>
          <li><%= link_to "施設一覧(自分が登録したもののみ)", users_path %></li>
          <li><%= link_to "施設登録", new_room_path %></li>
          <li><%= link_to "施設検索", rooms_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>

       
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      <% end %>
      </div>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
